<!DOCTYPE html>
<html>
<body class='bg-color'>
<h2>Welcome to ???</h2>

<form class='pull-left' method='post' action='/index'>
  <input type='text' name='email'>
  <input type='password' name='password'>
  <input class='btn btn-primary' type='submit' value='login'>
</form>
<h4 class='pull-right'>Not yet a member? <a href='/new'><button class='btn btn-primary'>Sign up!</button></a></h4>
</body>
</html>
