<!DOCTYPE html>
<html>
	<body class='bg-color'>
		<h2>Welcome to PriceChart</h2>

		<form class='pull-left' method='post' action='/index'>
		  <input type='text' name='email'>
		  <input type='password' name='password'>
		  <input class='btn btn-primary' type='submit' value='Login'>
		</form>

		<a href='/new'><button class=' pull-left btn btn-primary'>Signup</button></a>

		<h4>
			<% if @errors %>
			  <%= @errors[:login_error] %>
			<% end %>
		</h4>

	</body>
</html>
