<h2>Welcome to ???</h2>

<form method='post' action='/index'>
  <input type='text' name='email'>
  <input type='password' name='password'>
  <input type='submit' value='login'>
</form>

Not yet a member? <a href='/new'><button>Sign up!</button></a>


<a href="/testpage">test</a>