<!DOCTYPE html>
<html>
	<body class='bg-img'>
		<h2>Welcome to PriceChart</span></h2>

		<form class='pull-left' method='post' action='/new'>
		  <input type='text' name='email' placeholder='name'>
		  <input type='password' name='password' placeholder='password'>
		  <input class='btn btn-primary' type='submit' value='Signup'>
		</form>

		<a href="/index"><button class='pull-left btn btn-primary'>Home</button></a>

		<h4>
			<% if @errors %>
			  <%= @errors[:signup_error] %>
			<% end %>
		</h4>

	</body>
</html>
