<!DOCTYPE html>
<html>
<body class='bg-color'>
<a href="/index"><button class='btn btn-primary'>home</button></a>

<form class='pull-right' method='post' action='/new'>
  <input type='text' name='email'>
  <input type='password' name='password'>
  <input class='btn btn-primary' type='submit' value='register'>
</form>
</body>
</html>