<!DOCTYPE html>
<html>
<body class='bg-color'>
<h2>Welcome<span class='color-w'>???</span></h2>

<form class='pull-left' method='post' action='/new'>
  <input type='text' name='email'>
  <input type='password' name='password'>
  <input class='btn btn-primary' type='submit' value='register'>
</form>

<a href="/index"><button class='pull-right btn btn-primary'>home</button></a>

</body>
</html>
