<a href="/index"><button>home</button></a>

<form method='post' action='/new'>
  <input type='text' name='email'>
  <input type='password' name='password'>
  <input type='submit' value='register'>
</form>

