<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h3>Welcome Home <%= session[:user_id] %></h3>

<!-- *****LOGOUT***** -->
  <nav>
    <form method='post' action='/users/<%= session[:user_id] %>'>
      <input type='submit' value='log out'>
    </form>
  </nav>
  <hr>

<!-- *****ADD/MONITOR ITEM***** -->
  <article>
    <form method='post' action='/users/<%= session[:user_id] %>/add'>
      <input type='text' name='url' placeholder='Paste URL'>
      <input type='submit' value='Monitor it!'>
    </form>
  </article>

<!-- *****LIST ITEMS***** -->
  <article>
    <% @items.each do |item| %>

        <%= erb :item, locals: {item_name: item.name, url: item.url, description: item.description, id: item.id} %>


    <% end %>

  </article>

</body>

<footer>

</footer>

<!-- *****ADMIN BUTTON***** -->
<% if session[:user_id] == 1 %>
  <article>
    <form method='post' action='/record'>
      <input type='submit' value="Record Prices">
    </form>
  </article>
<% end %>
</html>