<!DOCTYPE html>
<html>
<head>
</head>

<div class="container">

<body>

<!-- *****LOGOUT***** -->
<div class='row'>
  <div class='col-sm-3'>
  <h3>Welcome Home </br><%= @user.email %></h3>
    <nav>
      <form method='post' action='/users/<%= session[:user_id] %>'>
        <input class='btn-primary' type='submit' value='log out'>
      </form>
    </nav>
  </div>

  <article class='form-group'>
    <form method='post' action='/users/<%= session[:user_id] %>/add'>
      <input class=' col-sm-7 ' type='text' name='url' placeholder='Paste URL'>
      <input class='col-sm-1 btn-primary' type='submit' value='Monitor it!'>
    </form>
  </article>

</div>
<hr>

<!-- *****ADD/MONITOR ITEM***** -->
<div class='row'>

</div>

<!-- *****LIST ITEMS***** -->
<div class='row'>
  <article>
    <% counter = 0 %>
    <% @items.each do |item| %>
    <% counter += 1 %>
      <%= erb :item, locals: {item_name: item.name, item_url: item.url, item_description: item.description, item_id: item.id, counter: counter} %>
    
    <% end %>

  </article>
</div>  
</div>


</body>

<footer>

</footer>

<!-- *****ADMIN BUTTON***** -->
<% if session[:user_id] == 1 %>
  <article>
    <form method='post' action='/record'>
      <input class='btn-danger' type='submit' value="Record Prices">
    </form>
  </article>
<% end %>
</html>