<!DOCTYPE html>
<html>
<head>
</head>

<div class="container">

<body>

<!-- *****LOGOUT***** -->
<div class='row'>
  <div class='col-sm-4'>
  <h3>Welcome <b><%= @user.email %></b></h3>
    <nav>
      <form method='post' action='/users/<%= session[:user_id] %>'>
        <input class='btn-primary' type='submit' value='Logout'>
      </form>
    </nav>
  </div>

<!-- *****ADD/MONITOR ITEM***** -->
  <article class='form-group move-d'>
    <form method='post' action='/users/<%= session[:user_id] %>/add'>
      <input class=' col-sm-7 ' type='text' name='url' placeholder='Paste URL'>
      <input class='col-sm-1 btn-primary' type='submit' value='Track'>
    </form>
  </article>
</div>
<hr>

<!-- *****LIST ITEMS***** -->
  <article>
    <% counter = 0 %>
    <% @items.each do |item| %>
    <% counter += 1 %>
      <%= erb :item, locals: {item_name: item.name, item_url: item.url, item_description: item.description, item_id: item.id, counter: counter} %>
      <hr>
    <% end %>

  </article>



</body>

<footer>

<!-- *****ADMIN BUTTONS***** -->
<div class='row'>
  <% if session[:user_id] == 1 %>
    
    <div class='col-sm-3'>
      <form method='post' action='/record'>
        <input class='btn-danger' type='submit' value='Record'>
      </form>
    </div>

    <div class='col-sm-3'>
      <button class='btn-danger'><a href='/bonus'>.</a></button>
    </div>

    <div class='col-sm-3' id='fun-btn'>
      <button class='btn-danger'></button>
    </div>

  <% end %>
</div>

</footer>
</html>


