<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h3>Welcome Home <%= session[:user_id] %></h3>

<!-- *****LOGOUT***** -->
  <nav>
    <form method='post' action='/users/<%= session[:user_id] %>'>
      <input type='submit' value='log out'>
    </form>
  </nav>
  <hr>

<!-- *****ADD/MONITOR ITEM***** -->
  <article>
    <form method='post' action='/users/<%= session[:user_id] %>/add'>
      <input type='text' name='url' placeholder='Paste URL'>
      <input type='submit' value='Monitor it!'>
    </form>
  </article>

<!-- *****LIST ITEMS***** -->
  <article>
    <% counter = 0 %>
    <% @items.each do |item| %>
    <% counter += 1 %>
      <%= erb :item, locals: {item_name: item.name, item_url: item.url, item_description: item.description, item_id: item.id, counter: counter} %>
    
    <% end %>

  </article>




</body>

<footer>

</footer>

<!-- *****ADMIN BUTTON***** -->
<% if session[:user_id] == 1 %>
  <article>
    <form method='post' action='/record'>
      <input type='submit' value="Record Prices">
    </form>
  </article>
<% end %>
</html>